@use "../../global" as *;

.p-footer{
  width:100%;
  background:#202020;
  padding:100px * $PX_TO_VW_SP 0;
  @include mqpc(){
    padding:100px;
  }
  &__copyright{
    text-align: center;
    font-size:30px * $PX_TO_VW_SP;
    line-height:1.5;
    mix-blend-mode: difference;
    color:$THEME_COLOR_GREEN;
    @include mqpc(){
      font-size:30px;
    }
  }
}